
body{
    width: 60%;
    margin: 10% auto 10% auto;
 }
 
 img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
 }
 
 hr{
   border-style: none; 
   border-top-style: dotted;
   border-color: red;
   border-width:5px;
   width: 30%;
 }
 
 .profile-detail{
    padding: 1rem;
    background-color: aliceblue;
    width: 60%;
    margin: 10% auto 10% auto;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #333333;
 }